.book-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .book-cover {
    max-width: 150px; /* Adjust the max-width as needed */
    margin-right: 16px;
    border-radius: 8px;
  }
  
  .book-details {
    flex: 1;
  }
  
  .book-details h1 {
    margin-bottom: 8px;
  }
  
  .book-details h2 {
    margin-top: 0;
  }
  
  .book-details p {
    margin: 4px 0;
  }